body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    transition: 0.3s;
}

.dark {
    background-color: #121212;
    color: #eee;
}

section {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.dark section {
    background: #1e1e1e;
}

button {
    padding: 8px 12px;
    margin: 5px 0;
    cursor: pointer;
}

#map {
    height: 400px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
}
